@{
    ViewData["Title"] = "About/Contact";
}


<div class="row">
    <div class="col-lg-6">
        <h2>@ViewData["Title"]</h2>
        <hr />
    </div>
    <div class="col-lg-6">
        <h4>(323) 395 9570</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h4>7 years experience</h4>
    </div>
    <div class="col-lg-6">
        <h4>edebedo@gmail.com</h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-12 text-center">
        <h4>We are glad to be a part of the LA community. This friendly city in Southern California is full of families who enjoy spending time together.</h4>
    </div>
</div>