@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <div class="text-center">
            <h1 class="display-4">Professional Cleaning Services</h1>
            <hr />
            <br />
            <div>
                <p style="font-size: 26px;font-weight:300;"><span class="clsCompanySpan">Carbajal Cleaners</span> proudly provides cleaning services to the residents and offices Los Angeles.</p>
                <br />
                <p><span class="clsCompanySpan">Are you trying to figure out how to fit more quality family time into your schedule so you can enjoy the parks, beaches, and trails of LA? </span><span class="clsCompanySpan">When was the last time you took a stroll in the village, window shopping the boutiques and having a nice meal from one of LA’s amazing restaurants?</span></p>
                <p>Thanks to, <span class="clsCompanySpan">Carbajal Cleaners</span>’ quality cleaning services you will have the time to enjoy your city. Our professional cleaners always leave your home clean, spotless, and fresh.</p>
                <p>We offer <b>residential</b> and <b>commercial</b> cleaning services on a wide range of timetables, so whether you require a one-time break or regular service you can rest and leave the cleaning to us!</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="mainImageDiv">

    </div>
</div>
<hr />
<br />
<div class="row">
    <div class="col-lg-12 text-center">
        <h3>We are a multiservice team with flexible hours!</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-3">
        <div class="row clsServicesDiv">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 text-center clsServiceTitle">
                        Our employees are the best!
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 clsServiceImg" id="trainedEmployeesImgDiv">

                    </div>
                </div>
                <div class="row clsServiceDesc">
                    <div class="col-lg-12">
                        To ensure 100% satisfaction we enforce strict rules and provide consistantly great work.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row clsServicesDiv">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 text-center clsServiceTitle">
                        We are pet friendly!
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 clsServiceImg" id="petFriendlyImgDiv">

                    </div>
                </div>
                <div class="row clsServiceDesc">
                    <div class="col-lg-12">
                        Your pets are very important to us because you love them and they are part of your family.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row clsServicesDiv">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 text-center clsServiceTitle">
                        Homes and offices!
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 clsServiceImg" id="homesOfficesImgDiv">

                    </div>
                </div>
                <div class="row clsServiceDesc">
                    <div class="col-lg-12">
                        We bring the same great work to both spaces, clean space and clean mind means better a life
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row clsServicesDiv">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 text-center clsServiceTitle">
                        We are family owned!
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 clsServiceImg" id="familyOwnedImgDiv">

                    </div>
                </div>
                <div class="row clsServiceDesc">
                    <div class="col-lg-12">
                        Our goal is building a relationship with our clients and provide 100% satisfaction.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>